  <header class="l-header">
    <div class="l-header__inner">
      <h1 class="l-header__logo"><a href="/"><img src="/assets/img/logo.png" alt="RAZONA"></a></h1>
      <nav class="l-header__nav js-header-nav">
        <ul class="l-header__list">
          <li class="l-header__item"><a href="#">サービス</a></li>
          <li class="l-header__item"><a href="#">会社情報</a></li>
          <li class="l-header__item"><a href="#">実績紹介</a></li>
          <li class="l-header__item"><a href="#">ニュース</a></li>
          <li class="l-header__item"><a href="#" target="_blank" class="c-link">採用情報</a></li>
          <li class="c-button-wrap l-header__button">
            <a href="#" class="c-button">お問い合わせ</a>
          </li>
        </ul>
      </nav>
      <div class="l-header__menu js-header-trigger">
        <span></span>
        <span></span>
        <div class="l-header__menu-text">MENU</div>
      </div>
    </div>

  </header>