.c-button {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #FFF;
  background-color: #CC0E28;
  text-align: center;
  padding: 13px 0 14px;
  width: 100%;

  @include pc-screen {
    padding: 10px 52px;
  }

  &-wrap {
    width: 100%;

    @include pc-screen {
      width: 200px;
    }
  }
}