%c-heading {
  display: block;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 26px;

  @include pc-screen {
    font-size: 3rem;
  }
}

.c-heading {
  @extend %c-heading;
}

.c-heading-left {
  @extend %c-heading;
  text-align: left;
}

.c-heading__en {
  margin-left: 7px;
  font-size: 1.2rem;
  line-height: 1.33;
}