.c-link {
  position: relative;
  width: 100%;

  &[target="_blank"] {
    &::after {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      background-image: url(/assets/img/icon_blank.jpg);
      margin-left: 8px;
      vertical-align: middle;

      @include sp-screen {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}