//mixin
@mixin sp-screen {
  @media screen and (max-width: 960px) {
    @content;
  }
}
@mixin tab-screen {
  @media screen and (max-width: 960px) and (min-width: 561px) {
    @content;
  }
}
@mixin pc-screen {
  @media screen and (min-width: 961px) {
    @content;
  }
}

@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin placeholder-color($color) {
  &:placeholder-shown {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}