$base_font_sans: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;

$base_font_size_pc: 1.4rem;
$base_font_size_sp: 1.4rem;
$base_line_height_pc: 1.75;
$base_line_height_sp: 1.7;

$font_color: #000;
$link_color: #000;
$link_color_hover: #000;
$hover_opacity: 0.7;