.l-container {
  max-width: 1440px;
  margin: 80px auto 0;
}

.l-content {
  padding: 75px 27px 170px;
  margin: 0 auto;

  @include pc-screen {
    padding: 84px 80px 147px;
  }

  @include tab-screen {
    padding: 84px 40px 147px;
  }
}

.l-content-s {
  padding: 183px 216px 255px;
  margin: 0 auto;

  @include sp-screen {
    padding: 152px 27px 160px;
  }
}