.l-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;

  &__copy{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    background-color: #000;
    padding: 26px 0 30px;
  }
}