.l-grid {
  width: 100%;
  display:flex;
  flex-wrap:wrap;
}

.l-grid__3col {
  width: 100%;

  @include pc-screen {
    width: 31.25%;
    margin-right: 3.125%;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  @include sp-screen {
    &:nth-of-type(n+2) {
      margin-top: 40px;
    }
  }

  @include tab-screen {
    width: 48.9%;
    margin-right: 2.2%;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:nth-of-type(n+2) {
      margin-top: 0;
    }

    &:nth-of-type(n+3) {
      margin-top: 40px;
    }
  }
}

.l-grid__4col {
  width: 100%;

  @include pc-screen {
    width: 22.65%;
    margin-right: 3.133%;

    &:nth-of-type(4n) {
      margin-right: 0;
    }

    &:nth-of-type(n+5) {
      margin-top: 48px;
    }
  }

  @include sp-screen {
    &:nth-of-type(n+2) {
      margin-top: 40px;
    }
  }

  @include tab-screen {
    width: 48.9%;
    margin-right: 2.2%;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:nth-of-type(n+2) {
      margin-top: 0;
    }

    &:nth-of-type(n+3) {
      margin-top: 40px;
    }
  }
}