.l-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 16px 12px 15px 30px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  align-items: center;

  @include pc-screen {
    padding: 18px 80px 14px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @include pc-screen {
      max-width: 1440px;
    }
  }


  &__logo {
    width: 131px;
  }

  &__nav {
    @include sp-screen {
      position: absolute;
      top: 71px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      width: 100%;
      height: 100vh;
      background-color: #fff;
      display: none;

      &.is-active {
        display: block;
      }
    }

    ul {
      margin: 0 auto;
      width: 85%;

      @include pc-screen {
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  &__item {
    font-size: 1.6rem;
    font-weight: 600;
    border-bottom: 1px solid #000;

    @include pc-screen {
      font-size: 1.4rem;
      padding: 0;
      border-bottom: none;

      &:nth-child(n+2) {
        margin-left: 40px;
      }
    }

    a {
      padding: 28px 0 18px;
      display: block;

      @include pc-screen {
        padding: 0;
      }
    }
  }

  &__button {
    display: block;
    margin-top: 24px;
    width: 100%;

    @include pc-screen {
      margin-top: 0;
      margin-left: 107px;
    }
  }

  &__menu {
    position: relative;
    top: 0;
    right: 0;
    display: block;
    width: 33px;
    height: 34px;
    cursor: pointer;
    font-size: 1.1rem;
    text-align: center;

    @include pc-screen {
      display: none;
    }

    span {
      display: block;
      width: 32px;
      height: 1px;
      background-color: #F4364C;
      position: absolute;
      transition: 0.3s;

      &:nth-child(1) {
        top: 3px;
        right: 0;
      }

      &:nth-child(2) {
        top: 11px;
        right: 0;
      }
    }

    &.is-active {
      span {
        &:nth-child(1) {
          top: 9px;
          transform: rotate(-45deg);
        }

        &:nth-child(2) {
          top: 9px;
          transform: rotate(45deg);
        }
      }
    }

    &-text {
      position: absolute;
      top: 23px;
      color: #F4364C;
    }
  }
}