.p-article {
  a {
    display: block;
  }

  &__thumb {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 4%;
      right: 3%;
      box-sizing: border-box;
      width: 8%;
      height: 14%;
      border: 1px solid #000;
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 9.4%;
      right: 6.3%;
      width: 1.5%;
      height: 2.5%;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      transform: rotate(45deg);
    }
  }

  &__title {
    margin-top: 24px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
  }

  &__text {
    margin-top: 11px;
    font-size: 1.4rem;
    line-height: 1.357;
  }
}

.p-article-02 {
   a {
    display: block;
    padding-bottom: 12px;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #333;
    }
  }

  &__title {
    margin-top: 21px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    position: relative;

    &-wrap {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: 50%;
        right: 2px;
        transform: translateY(50%);
        box-sizing: border-box;
        width: 28px;
        height: 28px;
        border: 1px solid #F4364C;
        border-radius: 50%;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 45%;
        right: 14px;
        width: 6px;
        height: 6px;
        border-top: 1px solid #F4364C;
        border-right: 1px solid #F4364C;
        transform: rotate(45deg);
      }
    }

    &-en {
      margin-top: 4px;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.33;
      color: #F4364C;
    }
  }
}