.p-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 27px;
  margin: 0 auto;
  background-color: #F4364C;

  @include pc-screen {
    padding: 56px 80px 57px;
  }

  @include tab-screen {
    padding: 48px 40px;
  }

  @include sp-screen {
    flex-direction: column;
  }

  &__text {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2;
    color: #fff;
    margin-bottom: 61px;

    @include pc-screen {
      margin-bottom: 0;
    }
  }

  &__button {
    width: 100%;

    @include pc-screen {
      width: 200px;
    }
  }
}