.p-news-list {
  width: 100%;
  margin-top: 32px;

  &__item {
    border-bottom: 1px solid #ccc;
  }

  &__link {
    padding: 14px 0 14px 5px;

    @include pc-screen {
      display: flex;
    }
  }

  &__category {
    display: flex;
  }

  &__date {
    width: 98px;
    margin-top: 4px;
    font-size: 1.4rem;
    letter-spacing: -0.9px;
    text-align: center;
  }

  &__tag {
    padding: 5px 0;
    margin-left: 22px;
    box-sizing: border-box;
    width: 102px;
    height: 26px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.333;
    color: #fff;

    &-color1 {
      background-color: #000;
    }

    &-color2 {
      background-color: #CC0E28;
    }
  }

  &__text {
    margin: 16px 0;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.429;

    @include pc-screen {
      margin-top: 7px;
      margin-left: 24px;
      width: 600px;
    }
  }

  &__detail {
    position: relative;
    display: block;
    float: right;
    padding-bottom: 14px;
    margin-top: 35px;
    width: 200px;
    font-size: 1.4rem;
    font-weight: 600;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      right: 4px;
      width: 6px;
      height: 6px;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      transform: rotate(45deg);
    }

    &::after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #333;
    }
  }

}


@media screen and (max-width: 960px) {
  .l-container__news {
    padding: 183px 6% 255px;
  }

  .p-news__text {
    width: 450px;
  }
}